#calculator{
    display: inline-flex;
    flex-direction: column;
    border: 1px solid red;
    
}

#visor{
    display:inline-flex;
    border: 1px solid red;  
    justify-content: flex-end;
    align-items: flex-end;
    height:30px;
}


#smol-visor{
    display: flex;
    border: 1px solid red;
    height:30px;
}

#operator{
    display: flex;
    border: 1px solid red;
    height:30px;
}

#big-visor{
    display: flex;
    border: 1px solid blue;
    height:30px;
}

#first-line{
    display: flex;
    border: 1px solid red;
    flex: 1 0 auto;
    gap: 8px;
}

#second-line{
    display: flex;
    border: 1px solid red;
    flex: 1 0 auto;
    gap: 8px;
}

#third-line {
    display: flex;
    border: 1px solid red;
    flex: 1 0 auto;
    gap: 8px;
}

#fourth-line{
    display:flex;
    border: 1px solid red;
    flex: 1 0 auto;
    gap: 8px;
}
#fifth-line{
    display:flex;
    border: 1px solid red;
    flex: 1 0 auto;
    gap: 8px;
}

.button {
    width: 60px;
    height: 60px;
    border: 1px solid blue
}
